HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    }
video {
    margin-left: 0;
    margin-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit:cover;
  }

@media all and (min-width:960px) and (max-width: 1024px) {
    #container{
        padding-bottom:56.25%;
        position:relative;
        display:block;
        width: 100%;
    }
    body{
        background-color: black;
    }
}
  
@media all and (min-width:801px) and (max-width: 959px) {
    #container{
        padding-bottom:56.25%;
        position:relative;
        display:block;
        width: 100%;
    }
    body{
        background-color: black;
    }
}
  
@media all and (min-width:769px) and (max-width: 800px) {
    #container{
        padding-bottom:56.25%;
        position:relative;
        display:block;
        width: 100%;
    }
    body{
        background-color: black;
    }
}
  
@media all and (min-width:569px) and (max-width: 768px) {
    #container{
        padding-bottom:56.25%;
        position:relative;
        display:block;
        width: 100%;
    }
    body{
        background-color: black;
    }
}
  
@media all and (min-width:481px) and (max-width: 568px) {
    #container{
        padding-bottom:56.25%;
        position:relative;
        display:block;
        width: 100%;
    }
    body{
        background-color: black;
    }
}
  
@media all and (min-width:321px) and (max-width: 480px) {
    /*This is where my iPhone goes*/
    #container{
        padding-bottom:56.25%;
        position:relative;
        display:block;
        width: 100%;
    }
    body{
        background-color: black;
    }
}
  
@media all and (min-width:0px) and (max-width: 320px) {
    #container{
        padding-bottom:56.25%;
        position:relative;
        display:block;
        width: 100%;
    }
    body{
        background-color: black;
    }
}